src/main/mule/database-example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:spring="http://www.mulesoft.org/schema/mule/spring"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="82f37ffc-6598-4346-82b3-5a9d0b7b49bf" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="a2c5c739-41ba-4a3b-8f13-a07eaf14d085" >
		<db:data-source-connection dataSourceRef="dataSource" />
	</db:config>
	<spring:config name="Spring_Config" doc:name="Spring Config" doc:id="1f1fe80a-2b27-4809-8775-c14880b14c31" files="spring-context.xml" />
	<configuration-properties doc:name="Configuration properties" doc:id="d35f32a3-1680-47d4-a623-4c3c5e3510b4" file="config.yaml" />
	<flow name="get-users-from-database" doc:id="82025e1f-14a5-4de3-9190-3b0ce0268384" >
		<http:listener doc:name="Listener" doc:id="9cd5c251-6ce0-458e-ac8a-882be008c916" config-ref="HTTP_Listener_config" path="/users" allowedMethods="GET"/>
		<db:select doc:name="Get all Users" doc:id="51c04443-1ff0-40fd-9851-c8874383a624" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM Users]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transformed Response" doc:id="d7974c1a-8c72-4837-bbc6-f052b8a30c67" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map {
	id: $.id,
	firstName: $.first_name,
	lastName: $.last_name,
	email: $.email,
	organization: $.company
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="add-new-user-to-database" doc:id="6cf971e1-ccef-438d-856f-3d31b2933c2f" >
		<http:listener doc:name="Listener" doc:id="6a3911b1-5b4e-46b2-8f6c-1ece23d2f338" config-ref="HTTP_Listener_config" path="/users" allowedMethods="POST" />
		<db:insert doc:name="Add User" doc:id="6b50159f-582b-48c1-ad43-67140df578a0" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO USERS (:firstName, :lastName, :email, :company)]]></db:sql>
			<db:input-parameters ><![CDATA[#[output application/java
---
{
	firstName: payload.firstName,
	lastName: payload.lastName,
	company: payload.company,
	email: payload.email
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Response" doc:id="55e51087-86df-4601-8154-037733b47a0f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
if(payload.affectedRows == 1) {
	"message": "User added!"
}else {
	"message": "Error adding user"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
